body {
    background-image: url(../images/game-of-thrones-wallpaper-hd-1920x1080-383419.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    color: white;
    
    
    /* background-position: center; */
}

#wordfield {
    letter-spacing: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid gold;
}

.row{
    width: 100%;
}